{% extends 'bingo/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Board" %} #{{ board.board_id }}{% endblock %}
{% block extra_style %}
    {{ block.super }}
    td.bingofield.active, li.word.active {
        background-color: {{ board.color }};
    }
{% endblock %}
{% block extra_head %}
{{ block.super }}
{% block twittercard %}
{% if twittercard_account %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ twittercard_account }}" />
<meta name="twitter:title" content="{% spaceless %}
    {% block twittercard_title %}
        {% blocktrans with board_id=board.board_id middle_word=middle_field.word.word %}Bingo Board #{{ board_id }} ({{ middle_word }}){% endblocktrans %}
    {% endblock %}
{% endspaceless %}" />
<meta name="twitter:description" content="{% spaceless %}
    {% if board.game.description %}
        {% block twittercard_description_with_topic %}
            {% blocktrans with game_id=board.game.game_id date=board.game.created.date description=board.game.description %}Game #{{ game_id }} (Topic: {{ description }}) from {{ date }}.{% endblocktrans %}
        {% endblock %}
    {% else %}
        {% block twittercard_description %}
            {% blocktrans with game_id=board.game.game_id date=board.game.created.date %}Game #{{ game_id }} from {{ date }}.{% endblocktrans %}
        {% endblock %}
    {% endif %}
{% endspaceless %}" />
<meta name="twitter:image" content="{{ http_scheme }}://{{ http_host }}{% url 'bingo-thumbnail' board_id=board.board_id voted=True %}?square=1&large=1" />
{% endif %}
{% endblock %}
{% endblock %}

{% block js %}
{{ block.super }}
<script>
var vote_url = "{% url 'bingo-vote' ajax=False %}";
var ajax_vote_url = "{% url 'bingo-vote' ajax=True %}";
var bingo_board = "{{ board.id }}";
var my_board = "{{ my_board.id }}";
var use_sse = {{ use_sse|lower }};
var sse_url = "{{ sse_url }}";
var polling_interval = {{ polling_interval }};
var polling_interval_sse = {{ polling_interval_sse }};
var middleword = "{{ middle_field.word.word|lower }}";
</script>
<script src="{% static 'bingo/js/titletext.js' %}"></script>
{% if not board.game.is_expired %}
<script src="{% static 'bingo/js/bingo.js' %}"></script>
{% endif %}
{% endblock %}

{% block headline %}
  {% trans "Board" %} #{{ board.board_id }} {{ board.game.description }}
{% endblock %}

{% block header %}
  <ul id="num_users_table" class="list-inline">
    {% if board.game.is_expired %}
      <li class="list-inline-item">
        <b>{% trans 'Created:' %}</b>
        <span id="created">{{ board.created|date:"SHORT_DATETIME_FORMAT" }}</span>
      </li>
      <li class="list-inline-item">
        <b>{% trans 'Last Used:' %}</b>
        <span id="last_used">{{ board.last_used|date:"SHORT_DATETIME_FORMAT" }}</span>
      </li>
    {% endif %}
    <li class="list-inline-item">
      <b>{% trans 'Total Users:' %}</b>
      <span id="num_users">{{ board.game.num_users }}</span>
    </li>
    {% if not board.game.is_expired %}
      <li class="list-inline-item">
        <b>{% trans 'Active Users:' %}</b>
        <span id="num_active_users">{{ board.game.num_active_users }}</span>
      </li>
    {% endif %}
  </ul>
  {{ block.super }}
{% endblock %}

{% block content %}

<div class="row" id="bingoboard">
    <div class="col-md-12 col-lg-8">
        <table class="bingoboard">
            {% for field in fields_on_board %}
                {% if forloop.first or forloop.counter1|divisibleby:5 %}<tr>{% endif %}
                <td class="bingofield{% if field.is_middle %} middle{% endif %}{% if field.vote == 1 %} active{% elif field.vote == -1 %} veto{% endif %}"
                    data-word-id="{{ field.word.id }}"
                    data-field-id="{{ field.id }}"{% if field.word.description %}
                    title="{{ field.word.description }}"{% endif %}>
                    {% if not field.is_middle %}{% include 'bingo/vote_form.html' %}{% endif %}
                    <div class="bingofield{% if field.is_middle %} middle{% endif %}">
                        {% comment %} for vertical alignment with the middle field, which has 3 lines {% endcomment %}
                        {{ field.word.word }}
                        {% if field.is_middle %}
                            <div class="created">{{ field.board.get_created }}</div>
                            <div class="id">Bingo #{{ board.board_id }}</div>
                        {% else %}
                            <span class="votes badge badge-dark">{{ field.num_votes }}</span>
                        {% endif %}
                    </div>
                </td>
                {% if forloop.last or forloop.counter|divisibleby:5 %}</tr>{% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="col-md-12 col-lg-4">{% include "bingo/fields.html" %}</div>
</div>
{% endblock %}
