{% load i18n %}
<div class="row mb-5">
  <div class="col-md-6 col-sm-12">
    <div class="card bg-{{ user_theme|lower }}">
      <fieldset>
        <legend class=" card-header">{% trans 'Create a new board' %}</legend>
        <form action="{% url 'bingo-create_board' %}" method="post" class="card-body">
          {{ create_form.as_p }}
          {% csrf_token %}
          <input type="submit" value="{% trans 'Create board' %}" class="btn btn-primary"/>
        </form>
      </fieldset>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card bg-{{ user_theme|lower }}">
      <fieldset>
        <legend class=" card-header">{% trans 'Reclaim your board' %}</legend>
        <form action="{% url 'bingo-reclaim_board' %}" method="post" class="card-body form-inline">
          {{ reclaim_form.as_p }}
          {% csrf_token %}
          <input type="submit" value="{% trans 'Go to my board' %}" class="btn btn-primary"/>
        </form>
      </fieldset>
    </div>
  </div>
</div>
