{% extends 'bingo/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{% trans 'Startpage' %}{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'bingo/js/board_list.js' %}"></script>
{% endblock %}
{% block headline %}{% trans "Home" %}{% endblock %}

{% block header %}
  {{ block.super }}
  {% include "bingo/profilelinks.html" %}
{% endblock %}

{% block content %}

<div class="col-lg-8 offset-lg-2">
{% if not my_board %}
  {% if can_start_game %}
      {% include "bingo/forms.html" %}
  {% endif %}
{% endif %}
</div>

<div class="row col-lg-8 offset-lg-2">
  {% if boards.count > 0 %}
  <div class="col-lg-6 px-4">
    <h2>{% trans 'Current game' %}</h2>
    <ul class="game_list">
      <li>
        {% with current_game as game %}
          <h3 class="pt-2">
            <a href="{% url 'bingo-game' game_id=game.game_id %}">{% trans 'Game #' %}{{ game.game_id }} {{ game.description }}</a>
            <small class="date">Started {{ game.created|naturaltime }}</small>
          </h3>
          {% if not my_board %}
              {% trans 'You seem not to have a bingo board for the current game' %}
          {% endif %}
        {% endwith %}
        {% with all_boards=boards.all %}
        {% with boards=all_boards.all|slice:":12" total_boards=all_boards.count game=current_game %}
            {% include "bingo/board_list.html" %}
        {% endwith %}
        {% endwith %}
      </li>
    </ul>
  </div>
  {% endif %}

  {% if old_games.count > 0 %}
  <div class="col-lg-6 px-4">
    <h2>{% trans 'Past games' %}</h2>
    <ul class="game_list">
      {% for game in old_games|slice:'0:5' %}
        <li>
          <h3 class="pt-2">
            <a href="{% url 'bingo-game' game_id=game.game_id %}">{% trans 'Game #' %}{{ game.game_id }} {{ game.description }}</a>
            <small class="date">Started {{ game.created|naturaltime }}</small>
          </h3>
          {% with all_boards=game.bingoboard_set.all %}
          {% with boards=all_boards.all|slice:":12" total_boards=all_boards.count my_board=None %}
            {% include "bingo/board_list.html" %}
          {% endwith %}
          {% endwith %}
        </li>
      {% endfor %}
      {% if old_games|length > 5 %}
        <li><a href="{% url 'bingo-games_list' %}">{% trans 'More past games' %}</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
