{% load i18n %}
<div class="navbar-text my-2 my-lg-0">
{% if user.is_authenticated %}
    <b>{% trans "logged in as:" %}</b>
    <a href="{% url "bingo-profile" username=user.username %}">{{ user.username }}</a>
    /
    <a href="{% url "auth_logout" %}?next={% url "bingo-main" %}">{% trans "logout" %}</a>
{% else %}
    <a href="{% url "auth_login" %}?next={% url "bingo-main" %}">{% trans "login" %}</a>
    /
    <a href="{% url "registration_register" %}?next={% url "bingo-main" %}">{% trans "register" %}</a>
{% endif %}
</div>
