{% load i18n %}

<form action="{% url 'bingo-change_theme' %}?next={{ request.path }}" method="POST" class="form-inline">
  <div class="form-group">
    <label class="mr-3">{% trans "Theme:" %}</label>
    <select name="theme" class="form-control mr-3">
      {% for theme in themes %}
        <option value="{{ theme }}" {% if theme == user_theme %}selected{% endif %}>{{ theme }}</option>
      {% endfor %}
    </select>
  </div>
  {% csrf_token %}
  <input type="submit" value="{% trans 'Change' %}" class="btn btn-primary mr-4"/>
</form>
