body{
    background: #000000;
    color: white;
}

input, select {
    background-color: #001000;
    color: white;
    border: thin solid grey;
}

ul.pagination li {
    background-color: #002000;
    border: thin solid darkgrey;
}
